<ul id="tabs" class="nav nav-tabs" data-tabs="tabs" role="tablist">
	<% for(var i = 0; i<sets.length; i++) {%>		
		<li role="presentation"<% if (i == 0) { %> class="active" <% } %> >
			<% console.log(sets[i].name) %>
			<a href="#set<%= i %>" data-storage-index=<%= i %> aria-controls="set<%= i %>" role="tab" data-toggle="tab"><%= sets[i].name %></a>
		</li>
	<% } %>
	<li><a id="addSetButton" href="#addSet" data-toggle="tab">+</a></li>
</ul>

<div id="my-tab-content" class="tab-content">
	<% for(var i = 0; i<sets.length; i++) {%>
		<div role="tabpanel" class="tab-pane active" id="set<%= i %>">
			<h1>Set <%= i %></h1>
			<form class="form">
				<% for(var j = 0; j<sets[i].sites.length; j++) {%>
					<input class="siteUrl" type="text" placeholder="Add site url"><%= sets[i].sites[j] %></input>
				<% } %>
				<input class="no-save" type="text" placeholder="Add site url"></input>
			</form>
		</div>
	<% } %>
</div>